* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.head-container {
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
    background:linear-gradient(rgba(221, 147, 10, 0.1),rgba(221, 172, 12, 0.4));
}

.head-container img {
    border: solid 3px orange;
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;   
}
.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-title-text {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding: 10px;
    margin-bottom: 15px;
}

.menu-title-text h1 {
    font-family: 'Gill Sans';
    color: orange;  
}


.menu-card {
    width: 400px;
    padding: 25px;
    border: 2px solid darkgray;
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray;
    text-align: center;
    position: relative;
    padding-bottom: 50px; 
    font-size: large;
}   

.menu-card img {
    width: 200px;
    height: 150px;
    max-width: 300px;
    min-width: 220px;
    min-height: 150px;
    border-radius: 10px;
    border: 2px solid transparent;
}

.menu-card p {
    padding-top: 10px;
    font-family: 'Gill Sans';
}

.price {
    font-weight: bold;
    color: darkgreen;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}