* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.head-container {
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
    background:linear-gradient(rgba(221, 147, 10, 0.1),rgba(221, 172, 12, 0.4));
}

.head-container img {
    border: solid 3px orange;
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;   
}
.button-link {
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 20px;
    z-index: 999; /* ensures it stays on top */
}
.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-title-text {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding: 10px;
    margin-bottom: 15px;
}

.menu-title-text h1 {
    font-family: 'Gill Sans';
    color: orange;  
}


.menu-card {
    width: 400px;
    padding: 25px;
    border: 2px solid darkgray;
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray;
    text-align: center;
    position: relative;
    padding-bottom: 80px;   
    font-size: large;
}   

.menu-card img {
    width: 200px;
    height: 150px;
    max-width: 300px;
    min-width: 220px;
    min-height: 150px;
    border-radius: 10px;
    border: 2px solid transparent;
}

.menu-card p {
    margin-bottom: 30px;
    padding-top: 10px;
    font-family: 'Gill Sans';
}

.price {
    font-weight: bold;
    color: darkgreen;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;

}

.order-button {
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the button */
.order-button:hover {
    background-color: darkorange;
    transform: translateX(-50%) scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Active/clicked effect for the button */
.order-button:active {
    background-color: #cc7000;
    transform: translateX(-50%) scale(0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}